certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.7
idna==3.7
prompt-toolkit==3.0.43
pycparser==2.22
pyspnego==0.10.2
pywinrm==0.4.3
requests==2.31.0
requests-ntlm==1.2.0
setuptools==69.5.1
six==1.16.0
urllib3==2.2.1
wcwidth==0.2.13
xmltodict==0.13.0
